{% extends 'website/base.html' %}

        {% block title %}
           Search | Online Books Finding website
        {% endblock title %}

{% load static %}

{% block content %}

        <!-- Start: Banner -->
        <section id="banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Searched Books</h2>
                    <span class="underline center"></span>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Your search</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Banner -->

                               <!-- Start: Search Section -->
                                <section id="books-list">
                                    <div class="container">
                                        <div class="row pull-right">
                                            <form action="{% url 'search_books' %}" method="get">{% csrf_token %}
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <input class="form-control" placeholder="Search by Keyword" id="keywords" name="q" type="text">
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Search</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        
                                <div class="table-tabs" id="responsiveTabs">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><b class="arrow-up"></b><a data-toggle="tab" href="#sectionA">Books Available</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="sectionA" class="tab-pane fade in active">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                          <th>ID</th>
                                                        <th>Cover Book</th>
                                                          <th>Book name</th>
                                                          <th>Author</th>
                                                          <th>Category</th>
                                                          <th>Bookshop</th>
                                                          <th>Total Copies</th>
                                                          <th>Price(Tshs)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                {% if book.id != 0 %}

                                                {% for book in books %}
                                                    <tr>
                                                        <td>{{book.id}}</td>
                                                        {% if book.book_image %}
                                                        <td>
                                                            <img src="{{ book.book_image.url }}" alt="Cover Book" width="61px" height="82px">
                                                        </td>
                                                        {% endif %}
                                                        <td>{{book.book_name}}</td>
                                                        <td>{{book.author}}</td>
                                                        <td><a href="{% url 'Display_category' book.book_category_id %}">{{book.book_category}}</a></td>
                                                        <td><a href="{% url 'View_bookshop' book.bookshop_id %}">{{book.bookshop}}</a></td>
                                                         {% if book.item == 0 %}
                                                        <td><span class="text-danger">Item out of stock</span></td>
                                                         {% else %}
                                                        <td>{{book.item}}</td>
                                                        {% endif %}
                                                          <td>{{book.price}}</td>
                                                    </tr>
                                                {% endfor %}

                                                {% else %}
                                                        <tr>
                                                            <td colspan="7" align="center">No any book found / Search again and check books spelling </td>
                                                        </tr>

                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
             </section>
    <!-- End: Search Section -->

{% endblock %}